/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F8FC;
    color: #333;
}

/* Header styling */
header {
    background-color: #4A90E2;
    padding: 15px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-icon {
    width: 25px;
    margin-right: 15px;
    cursor: pointer;
}

.logo {
    width: 100px;
    height: auto;
}

/* Main content styling */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Events Section */
.events-section h2 {
    color: #4A90E2;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

/* Grid layout for events */
.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Автоматическое подстраивание под ширину контейнера */
    gap: 20px; /* Расстояние между карточками */
    margin-top: 20px;
}

#user-events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Компактный вид карточек */
    gap: 20px; /* Расстояние между карточками */
}

.event-card {
    background-color: #f1f8ff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #000;
    display: block;
    max-width: 300px; /* Устанавливает максимальную ширину для карточки */
    margin: 0 auto; /* Центрирует карточку, если меньше ширины сетки */
}

.event-card:hover {
    transform: translateY(-5px);
}

/* Изображение в карточке */
.event-image {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Обеспечивает обрезку изображения без искажений */
}

/* Информация внутри карточки */
.event-info {
    padding: 10px;
}

.event-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.event-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}


/* Общий стиль для ссылок */
.event-card a {
    text-decoration: none;
    color: inherit; /* Наследует цвет текста */
}
